@charset "UTF-8";

// Reset style
* {
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 100%;
	padding: 0;
	margin: 0;
}

html,
body {
	@media (max-width: 767.98px) {
		font-size: 14px;
	}
	color: black;
	font-family: 'Nunito',sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
}

ol,
ul {
	list-style: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Nunito',sans-serif;
	color: lightgrey;
	font-style: italic;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Nunito',sans-serif;
	font-style: italic;
	color: lightgrey;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-family: 'Nunito',sans-serif;
	font-style: italic;
	color: lightgrey;
}
//Color
$peri: #6667ab;

//Header
header {
	@media (max-width: 575.98px) {
		position: relative;
	}
  margin-bottom: 5px;
}
//Main header
.main-header {
	padding: 10px 0;
	.brand-name {
		margin: 0;
		a {
			font-size: 2rem;
			font-family: 'Pacifico', cursive;
			color: $peri;
			text-decoration: none;
      @media (max-width: 575.98px) {
        font-size: 1.5rem;
      }
		}
	}

	.main-header-right {
		.header-cart {
			cursor: pointer;
			.cart-icon {
				color: $peri;
				font-size: 20px;
			}

			.badge {
				font-size: 10px;
			}
		}
    .user-info {
      min-width: 130px;
      @media (max-width: 767.98px) {
        min-width: 110px;
      }
      p {
        margin: 0;
        font-size: 1rem;
        a {
          color: #6c757d;
          white-space: nowrap;
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
	}
	@media (max-width: 575.98px) {
		position: absolute;
		top: 0;
		right: 15px;
		left: 45px;
		z-index: 1;
		width: auto;
	}
}
// Navbar
.navbar {
	padding: 0;
	.navbar-toggler {
		padding: 0;
		border-radius: 0;
		outline: 0;
		border: none;
		box-shadow: none;
		position: relative;
		top: -10px;
		z-index: 2;
		> i {
			font-size: 20px;
		}
	}
	.navbar-collapse.show {
		background-color: white;
	}
	.navbar-nav {
    // @media (max-width: 767.98px) {	
    // }
    max-width: 800px;
		.nav-item {
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:last-child) {
        margin-right: 30px;
      }
			.nav-link {
				margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        color: #6c757d;
				@media (max-width: 575.98px) {
					text-align: center;
					padding: 1.5rem;
				}
				&.active {
					color: $peri;
				}
			}
			&:hover {
				.nav-link {
					color: $peri;
				}
			}
		}
    .search {
      flex-grow: 1;
      .form-search {
        flex-grow: 1;
        height: 30px;
        .search {
          outline: none;
          font-family: 'Poppins', sans-serif;
          border: 1px solid $peri;
          padding: .25rem;
          border-radius: 0.25rem 0 0 0.25rem;
        }
    
        .search-button {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0 0.25rem 0.25rem 0;
        }
      }
    }
	}
	@media (max-width: 575.98px) {
		padding-top: 25px;
	}
}
// Footer
.footer {
  background-color: #6667ab;
  color: white;

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }

  .sub-title {
    font-size: 1.25rem;
  }

  h2 {
    font-family: 'Pacifico', sans-serif;
  }

  .footer-content {
    h5 {
      font-size: 1rem;
      text-decoration: underline;
      margin-bottom: 1rem;
      font-family: "Pacifico", sans-serif;
      > a {
        color: white;
        text-decoration: none;
      }
    }
    p {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      a {
        text-decoration: none;
        color: white;
      }
      &:not(:last-child) {
        margin-bottom: .25rem;
      }
    }
  }

  .find-us {
    display: flex;
    flex-direction: column;
    .find-us-content {
      margin-top: auto;
      h2 {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
      .icon-footer {
        display: flex;
        justify-content: space-between;
        max-width: 85px;
        a {
         color: white;
         text-decoration: none;
         i {
           font-size: 20px;
         }
         &:not(:last-child) {
           margin-right: 20px;
         }
        }
      }
    }
  }
}