@charset "UTF-8";

// Navbar
.navbar {
  .navbar-brand {
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    color: #6667ab;
    margin-left: 20px;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        margin: 0 7px;
        color: black;
        font-size: 17px;
        &.active {
          color: #6667ab;
        }
      }
      .dropdown-menu {
        font-family: 'Nunito', sans-serif;
        font-size: 15px;
      }
      &:hover {
        .nav-link {
          color: #6667ab;
        }
      }
    }
  }
  .search {
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #6667ab;
  }
  .search-button {
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: #6667ab;
    color: white;
    border-radius: 60px;
    font-weight: bold;
  }
}

// Carousel
.more-tips-btn {
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: #6667ab;
  color: white;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  border-radius: 60px;
}


//Products
.products-home {
  .title {
    font-weight: 700;
  }
  .sub-title {
    color: #6667ab;
  }
  .product-card {
    width: 18rem;
    border: 0;
  }
  .product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

//Story
.story {
  .title {
    font-weight: 700;
  }
  .sub-title {
    color: #6667ab;
  }
  .story-card {
    border: 0;
    .card-body {
      .card-title {
        margin: 6px;
      }
    }
  }
  .story-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
.read-more-btn {
  height: 45px;
  width: 35%;
  border: 2px solid #6667ab;
  outline: none;
  background-color: white;
  color: #6667ab;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  border-radius: 60px;
}
.read-more-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s;
}

.footer {
  background-color: #6667ab;
  color: white;
  .title { 
    font-weight: 700;
    text-transform: uppercase;
    color: white;
  }
  .sub-title {
    font-size: 17px;
  }
  h2 {
    font-family: 'Pacifico', sans-serif;
  }
  .footer-content {
    padding-top: 40px;
    p {
      margin: 0;
    }
    .fab {
      font-size: 2.5rem;
      cursor: pointer;
      padding-right: 5px;
    }
    .web-add {
      margin-top: 10px;
    }
  }
  
}