@charset "UTF-8";

.menshop-banner {
    display: flex;
    justify-content: center;
}
.men-product-tilte {
    text-align: left;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 10px;
}
