@charset "UTF-8";

.menshop-banner {
    display: flex;
    justify-content: center;
}
.men-product-tilte {
    text-align: center;
    font-size: 26px;
    color: #6667ab;
    font-weight: 500;
    margin-bottom: 30px;
}
.men-product-list {
    padding-bottom: 60px;
}
