@charset "UTF-8";

.container-details {
    margin-top: 20px;
    margin-bottom: 80px;
}
.product-detail-pic {
    max-width: 300px;
    padding: 0;
    text-align: center;
    position: relative;
}
.product-detail-text {
    padding-left: 20px;
    padding-top: 40px;
}
.newarrival {
    background-color: #6667ab;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.product-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
}
.product-subtitle {
    padding-bottom: 10px;
}
.product-rating {
    font-size: 14px;
    margin-bottom: 12px;
    i {
        margin-right: -2px;
        color: #6667ab;
    }
    span {
        color: #6667ab;
        margin-left: 4px;
    }
}

.product-price {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.product-quantity {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}
.product-cart {
    padding-top: 15px;
}
.cart {
    background-color: #6667ab;
    color: white;
    font-size: 15px;
    margin-left: 20px;
}
.more-info {
    margin: 20px 0;
    padding-top: 15px;
    border-top: lightgrey;
    border-width: 450px;
    border-radius: 4px;
    h4 {
        font-weight: lighter;
    }
}
