@charset "UTF-8";

body.account {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-image: url(../img/cover.jpg);
    background-size: cover;
    background-position: left;
}
.account-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-form {
    width: 350px;
    box-shadow: 0 0 3px 0 #6667ab;
    background: white;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    h1 {
        color: #6667ab;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .input-box { 
        border-radius: 20px;
        padding: 0 20px;
        margin: 10px 0;
        width: 100%;
        height: 40px;
        border: 1px solid #e4e5e6;
        outline: none;
        box-sizing: border-box;
    }
    .agree-text {
        text-align: left;  
        margin: 20px 0;
        span {
            text-align: left;
            font-size: 17px;  
        }
        input {
            margin-right: 15px;
        }
    }
}
.acc-btn {
    color: white;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #6667ab;
}
.acc-text {
    margin-top: 20px;
    font-size: 17px;
    a {
        text-decoration: none;
        color: #6667ab;
    }
}
