* {
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

html,
body {
  color: black;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}
@media (max-width: 767.98px) {
  html,
body {
    font-size: 14px;
  }
}

ol,
ul {
  list-style: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Nunito", sans-serif;
  color: lightgrey;
  font-style: italic;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Nunito", sans-serif;
  font-style: italic;
  color: lightgrey;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: "Nunito", sans-serif;
  font-style: italic;
  color: lightgrey;
}

header {
  margin-bottom: 5px;
}
@media (max-width: 575.98px) {
  header {
    position: relative;
  }
}

.main-header {
  padding: 10px 0;
}
.main-header .brand-name {
  margin: 0;
}
.main-header .brand-name a {
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  color: #6667ab;
  text-decoration: none;
}
@media (max-width: 575.98px) {
  .main-header .brand-name a {
    font-size: 1.5rem;
  }
}
.main-header .main-header-right .header-cart {
  cursor: pointer;
}
.main-header .main-header-right .header-cart .cart-icon {
  color: #6667ab;
  font-size: 20px;
}
.main-header .main-header-right .header-cart .badge {
  font-size: 10px;
}
.main-header .main-header-right .user-info {
  min-width: 130px;
}
@media (max-width: 767.98px) {
  .main-header .main-header-right .user-info {
    min-width: 110px;
  }
}
.main-header .main-header-right .user-info p {
  margin: 0;
  font-size: 1rem;
}
.main-header .main-header-right .user-info p a {
  color: #6c757d;
  white-space: nowrap;
  text-decoration: none;
}
.main-header .main-header-right .user-info p:hover {
  text-decoration: underline;
}
@media (max-width: 575.98px) {
  .main-header {
    position: absolute;
    top: 0;
    right: 15px;
    left: 45px;
    z-index: 1;
    width: auto;
  }
}

.navbar {
  padding: 0;
}
.navbar .navbar-toggler {
  padding: 0;
  border-radius: 0;
  outline: 0;
  border: none;
  box-shadow: none;
  position: relative;
  top: -10px;
  z-index: 2;
}
.navbar .navbar-toggler > i {
  font-size: 20px;
}
.navbar .navbar-collapse.show {
  background-color: white;
}
.navbar .navbar-nav {
  max-width: 800px;
}
.navbar .navbar-nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .navbar-nav .nav-item:not(:last-child) {
  margin-right: 30px;
}
.navbar .navbar-nav .nav-item .nav-link {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: #6c757d;
}
@media (max-width: 575.98px) {
  .navbar .navbar-nav .nav-item .nav-link {
    text-align: center;
    padding: 1.5rem;
  }
}
.navbar .navbar-nav .nav-item .nav-link.active {
  color: #6667ab;
}
.navbar .navbar-nav .nav-item:hover .nav-link {
  color: #6667ab;
}
.navbar .navbar-nav .search {
  flex-grow: 1;
}
.navbar .navbar-nav .search .form-search {
  flex-grow: 1;
  height: 30px;
}
.navbar .navbar-nav .search .form-search .search {
  outline: none;
  font-family: "Poppins", sans-serif;
  border: 1px solid #6667ab;
  padding: 0.25rem;
  border-radius: 0.25rem 0 0 0.25rem;
}
.navbar .navbar-nav .search .form-search .search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0.25rem 0.25rem 0;
}
@media (max-width: 575.98px) {
  .navbar {
    padding-top: 25px;
  }
}

.footer {
  background-color: #6667ab;
  color: white;
}
.footer .title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
.footer .sub-title {
  font-size: 1.25rem;
}
.footer h2 {
  font-family: "Pacifico", sans-serif;
}
.footer .footer-content h5 {
  font-size: 1rem;
  text-decoration: underline;
  margin-bottom: 1rem;
  font-family: "Pacifico", sans-serif;
}
.footer .footer-content h5 > a {
  color: white;
  text-decoration: none;
}
.footer .footer-content p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer .footer-content p a {
  text-decoration: none;
  color: white;
}
.footer .footer-content p:not(:last-child) {
  margin-bottom: 0.25rem;
}
.footer .find-us {
  display: flex;
  flex-direction: column;
}
.footer .find-us .find-us-content {
  margin-top: auto;
}
.footer .find-us .find-us-content h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.footer .find-us .find-us-content .icon-footer {
  display: flex;
  justify-content: space-between;
  max-width: 85px;
}
.footer .find-us .find-us-content .icon-footer a {
  color: white;
  text-decoration: none;
}
.footer .find-us .find-us-content .icon-footer a i {
  font-size: 20px;
}
.footer .find-us .find-us-content .icon-footer a:not(:last-child) {
  margin-right: 20px;
}

.shop-now-btn {
  width: 35%;
  border: none;
  outline: none;
  background-color: #6667ab;
  color: white;
  border-radius: 60px;
  letter-spacing: 3px;
}

.products-home .title {
  font-weight: 700;
}
.products-home .sub-title {
  color: #6667ab;
}
.products-home .product-card-wrapper {
  padding: 5px;
  display: flex;
  justify-content: center;
}
.products-home .product-card-wrapper .product-card {
  border: 0;
  max-width: 200px;
  padding: 10px 5px;
}
.products-home .product-card-wrapper .product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
}
.products-home .product-card-wrapper .product-card .card-body {
  display: flex;
  flex-direction: column;
}
.products-home .product-card-wrapper .product-card .card-body .btn-sp {
  margin-top: auto;
  align-self: center;
}

.shop-by-category .title {
  font-weight: 700;
}
.shop-by-category .shop-by-category-card {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-by-category .shop-by-category-card .card {
  padding: 1rem;
  width: 100%;
}
.shop-by-category .shop-by-category-card .card a {
  color: black;
  font-weight: 600;
}
.shop-by-category .shop-by-category-card .card a:hover {
  color: #6667ab;
}

.blog .title {
  font-weight: 700;
}
.blog .sub-title {
  color: #6667ab;
}
.blog .blog-card {
  border: 0;
}
.blog .blog-card .card-body .card-title {
  margin: 6px;
}
.blog .blog-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.blg-btn {
  padding-top: 40px;
  width: 100%;
}
.blg-btn .read-more-btn {
  text-decoration: none;
  padding: 10px 30px;
}

.read-more-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s;
}

.products-home {
  padding-top: 60px;
}

.menshop-banner {
  display: flex;
  justify-content: center;
}

.sidebar-item {
  margin-bottom: 35px;
}
.sidebar-item h4 {
  color: #6667ab;
  font-weight: 700;
  margin-bottom: 25px;
}
.sidebar-item ul li {
  list-style: none;
}
.sidebar-item ul li a {
  text-decoration: none;
  color: #6667ab;
  line-height: 39px;
  display: block;
}

.banner-adv img {
  width: 230px;
  height: 372px;
}

.main-product-tilte {
  text-align: center;
  font-size: 26px;
  color: #6667ab;
  font-weight: 700;
  margin-bottom: 30px;
}

.products-list {
  padding-bottom: 60px;
}
.products-list img {
  max-width: 200px;
  width: 100%;
  margin: auto;
}

.container-details {
  margin-top: 20px;
  margin-bottom: 80px;
}

.product-detail-pic {
  max-width: 300px;
  padding: 0;
  text-align: center;
  position: relative;
}

.product-detail-text {
  padding-left: 20px;
  padding-top: 40px;
}

.newarrival {
  background-color: #6667ab;
  width: 50px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.product-title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 16px;
}

.product-subtitle {
  padding-bottom: 10px;
}

.product-rating {
  font-size: 14px;
  margin-bottom: 12px;
}
.product-rating i {
  margin-right: -2px;
  color: #6667ab;
}
.product-rating span {
  color: #6667ab;
  margin-left: 4px;
}

.product-price {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

.product-quantity {
  border: 1px solid #ccc;
  font-weight: bold;
  height: 33px;
  text-align: center;
  width: 30px;
}

.product-cart {
  padding-top: 15px;
}

.cart {
  background-color: #6667ab;
  color: white;
  font-size: 15px;
  margin-left: 20px;
}

.more-info {
  margin: 20px 0;
  padding-top: 15px;
  border-top: lightgrey;
  border-width: 450px;
  border-radius: 4px;
}
.more-info h4 {
  font-weight: lighter;
}

.blog-banner {
  background-image: url(../img/cover.jpg);
  align-items: center;
  background-size: cover;
  background-position: bottom;
  padding: 45px 0 45px;
}
.blog-banner h2 {
  font-size: 46px;
  color: white;
  font-weight: 700;
}
.blog-banner a {
  display: inline-block;
  font-size: 16px;
  color: white;
  font-weight: 700;
  margin-right: 20px;
  position: relative;
  text-decoration: none;
  background-color: transparent;
}
.blog-banner span {
  display: inline-block;
  font-size: 16px;
  color: white;
}

.blog-title {
  border-bottom: 3px solid #333;
  color: #333;
  font-size: 26px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2.5px;
  padding-bottom: 6px;
  margin: 0 auto 20px;
  position: relative;
  vertical-align: text-bottom;
  display: inline-block;
}
.blog-title img {
  height: 30px;
  position: absolute;
  bottom: 6px;
}
.blog-title span.blog2 {
  padding-left: 40px;
}

.blog-content {
  padding-bottom: 60px;
}

.blog-detail-title {
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
  font-size: 12px;
}
.blog-detail-title a {
  color: black;
}

.blog-detail-banner {
  display: flex;
  justify-content: center;
}

.blog-detail-content {
  padding-top: 20px;
}
.blog-detail-content .blg-dt-text1 {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.blog-detail-item .blg-dt {
  padding-top: 70px;
}
.blog-detail-item .card-body {
  width: 90%;
  padding-top: 10px;
}
.blog-detail-item .card-body1 {
  width: 90%;
  padding-top: 10px;
  padding-left: 40px;
}
.blog-detail-item .card-title {
  color: #6667ab;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 2.5px;
}
.blog-detail-item .card-subtitle {
  font-size: 14px;
  letter-spacing: 2.5px;
}
.blog-detail-item .card-text {
  padding-top: 5px;
  font-size: 16px;
}
.blog-detail-item .blockquote {
  font-size: 14px;
  margin: 10px auto 0;
  width: 90%;
}
.blog-detail-item .blg-text-footer {
  padding-top: 60px;
  color: #6667ab;
  width: 100%;
}
.blog-detail-item .blg-text-footer h1 {
  font-weight: 700;
}
.blog-detail-item .blg-text-footer h2 {
  font-family: "Pacifico", cursive;
  font-weight: lighter;
  letter-spacing: 3px;
  padding-bottom: 40px;
}
.blog-detail-item .blg-text-footer .btn-sp {
  background: #6667ab;
  color: white;
  letter-spacing: 3px;
  width: 20%;
}
.blog-detail-item .blg-text-footer .btn-sp:hover {
  color: #212529;
}

.intro h2 {
  font-size: 36px;
}
.intro h4 {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
  font-weight: 300;
}
.intro h1 {
  font-family: "Pacifico", cursive;
  color: #6667ab;
}
.intro .intro-content {
  padding-top: 15px;
  font-size: 18px;
}

.contact {
  padding-top: 30px;
  padding-bottom: 50px;
}

.contact__widget {
  margin-bottom: 30px;
}
.contact__widget svg {
  width: 36px;
  height: 36px;
  fill: #6667ab;
}
.contact__widget h4 {
  color: #1c1c1c;
  font-weight: 700;
  margin-bottom: 6px;
  margin-top: 18px;
}
.contact__widget p, .contact__widget p > a {
  color: #666666;
  margin-bottom: 0;
  text-decoration: none;
}

.map {
  height: 500px;
  position: relative;
}
.map iframe {
  width: 100%;
}
.map .map-inside {
  position: absolute;
  left: 50%;
  top: 160px;
  -webkit-transform: translateX(-175px);
  -ms-transform: translateX(-175px);
  transform: translateX(-175px);
}
.map .map-inside i {
  font-size: 48px;
  color: #7fad39;
  position: absolute;
  bottom: -75px;
  left: 50%;
  -webkit-transform: translateX(-18px);
  -ms-transform: translateX(-18px);
  transform: translateX(-18px);
}
.map .map-inside .inside-widget {
  width: 350px;
  background: #ffffff;
  text-align: center;
  padding: 23px 0;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
  box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
}
.map .map-inside .inside-widget h4 {
  font-size: 22px;
  font-weight: 700;
  color: #1c1c1c;
  margin-bottom: 4px;
}
.map .map-inside .inside-widget ul li, .map .map-inside .inside-widget ul li > a {
  list-style: none;
  font-size: 16px;
  color: #666666;
  line-height: 26px;
  text-decoration: none;
}
.map .map-inside .inside-widget::after {
  position: absolute;
  left: 50%;
  bottom: -30px;
  -webkit-transform: translateX(-6px);
  -ms-transform: translateX(-6px);
  transform: translateX(-6px);
  border: 12px solid transparent;
  border-top: 30px solid #ffffff;
  z-index: -1;
}

.contact-form {
  padding-top: 80px;
  padding-bottom: 80px;
}
.contact-form .contact__form__title {
  margin-bottom: 50px;
  text-align: center;
}
.contact-form .contact__form__title h2 {
  color: #1c1c1c;
  font-weight: 700;
}
.contact-form form input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #6f6f6f;
  padding-left: 20px;
  margin-bottom: 30px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}
.contact-form form input::placeholder {
  color: #6f6f6f;
}
.contact-form form textarea {
  width: 100%;
  height: 150px;
  font-size: 16px;
  color: #6f6f6f;
  padding-left: 20px;
  margin-bottom: 24px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding-top: 12px;
  resize: none;
}
.contact-form form textarea::placeholder {
  color: #6f6f6f;
}
.contact-form form button {
  padding: 10px 30px;
}

.shopping-cart {
  padding-top: 80px;
  padding-bottom: 80px;
}

.shopping_cart_table {
  margin-bottom: 30px;
}
.shopping_cart_table table {
  width: 100%;
  text-align: center;
}
.shopping_cart_table table thead tr {
  border-bottom: 1px solid #ebebeb;
}
.shopping_cart_table table thead th {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}
.shopping_cart_table table .shopping_product {
  text-align: left;
}
.shopping_cart_table table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
}
.shopping_cart_table .shopping_cart_item {
  width: 630px;
  text-align: left;
}
.shopping_cart_table .shopping_cart_item img {
  display: inline-block;
  width: 80px;
  height: 100px;
  border: 1px solid #ebebeb;
  margin-right: 25px;
  margin-bottom: 20px;
}
.shopping_cart_table .shopping_cart_item .cart_item_name {
  display: inline-block;
  padding-top: 40px;
}
.shopping_cart_table .shopping_cart_price {
  font-size: 18px;
  font-weight: 700;
  width: 100px;
}
.shopping_cart_table .shopping_cart_total {
  font-size: 18px;
  font-weight: 700;
  width: 110px;
}
.shopping_cart_table .shopping_cart_item_close {
  text-align: right;
}
.shopping_cart_table .shopping_cart_item_close span {
  font-size: 24px;
  color: #b2b2b2;
  cursor: pointer;
}
.shopping_cart_table .shopping_cart_quantity {
  width: 225px;
}
.shopping_cart_table .shopping_cart_quantity .pro-qty {
  width: 120px;
  height: 40px;
  text-align: center;
  position: relative;
  display: inline-block;
  background: #f5f5f5;
  margin-bottom: 5px;
}
.shopping_cart_table .shopping_cart_quantity .pro-qty input {
  height: 100%;
  font-size: 16px;
  width: 50px;
  border: none;
  background: #f5f5f5;
  text-align: center;
}
.shopping_cart_table .shopping_cart_quantity .pro-qty .qtybtn {
  width: 15px;
  font-size: 16px;
  color: #6f6f6f;
  cursor: pointer;
  display: inline-block;
}

.cart-btn {
  display: inline-block;
  font-size: 14px;
  color: #6f6f6f;
  font-weight: 700;
  background-color: #f5f5f5;
  letter-spacing: 2px;
  padding: 14px 30px 12px;
}

.cart-btn-right {
  float: right;
}

.shopping_discount {
  margin-top: 45px;
}
.shopping_discount h5 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}
.shopping_discount form input {
  width: 255px;
  height: 46px;
  border: 1px solid #cccccc;
  font-size: 16px;
  color: #b2b2b2;
  text-align: center;
  display: inline-block;
  margin-right: 15px;
}
.shopping_discount form input::placeholder {
  color: #b2b2b2;
}
.shopping_discount form button {
  padding: 15px 30px 11px;
  font-size: 12px;
  color: white;
  letter-spacing: 4px;
  background: #6667ab;
}

.shopping_checkout {
  background: #f5f5f5;
  padding: 30px;
  padding-top: 20px;
  margin-top: 50px;
}
.shopping_checkout h5 {
  color: #1c1c1c;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 28px;
}
.shopping_checkout ul {
  margin-bottom: 28px;
}
.shopping_checkout ul li {
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 700;
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 13px;
  margin-bottom: 18px;
}
.shopping_checkout ul li span {
  font-size: 18px;
  color: #6667ab;
  float: right;
}
.shopping_checkout ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}
.shopping_checkout .cart-btn {
  width: 100%;
  color: white;
  background: #6667ab;
}

.checkout {
  padding-top: 80px;
  padding-bottom: 80px;
}
.checkout h6 {
  color: #999999;
  text-align: center;
  background: #f5f5f5;
  border-top: 1px solid #6667ab;
  padding: 12px 0 12px;
  margin-bottom: 75px;
}
.checkout h6 svg {
  fill: #6667ab;
  width: 15px;
  height: 15px;
}
.checkout h6 a {
  color: #6667ab;
}

.checkout__form h4 {
  color: #1c1c1c;
  font-weight: 700;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
.checkout__form p {
  column-rule: #b2b2b2;
}

.checkout__input {
  margin-bottom: 24px;
}
.checkout__input p {
  margin-bottom: 20px;
}
.checkout__input p span {
  color: #dd2222;
}
.checkout__input input {
  width: 100%;
  height: 46px;
  border: 1px solid #ebebeb;
  padding-left: 20px;
  font-size: 16px;
  color: #b2b2b2;
  border-radius: 4px;
}
.checkout__input .checkout__input__add {
  margin-bottom: 20px;
}
.checkout__input input::placeholder {
  color: #b2b2b2;
}

.checkout__input__checkbox {
  margin-bottom: 10px;
}
.checkout__input__checkbox label {
  position: relative;
  font-size: 16px;
  padding-left: 40px;
  cursor: pointer;
}
.checkout__input__checkbox label input {
  position: absolute;
  visibility: hidden;
}
.checkout__input__checkbox label input:checked ~ .checkmark {
  background: #6667ab;
  border-color: #6667ab;
}
.checkout__input__checkbox label input:checked ~ .checkmark:after {
  opacity: 1;
}
.checkout__input__checkbox label .checkmark {
  position: absolute;
  left: 0;
  top: 4px;
  height: 16px;
  width: 14px;
  border: 1px solid #a6a6a6;
  content: "";
  border-radius: 4px;
}
.checkout__input__checkbox label .checkmark:after {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 10px;
  height: 8px;
  border: solid white;
  border-width: 3px 3px 0px 0px;
  -webkit-transform: rotate(127deg);
  -ms-transform: rotate(127deg);
  transform: rotate(127deg);
  content: "";
  opacity: 0;
}

.checkout__order {
  background: #f5f5f5;
  padding: 40px;
  padding-top: 30px;
}
.checkout__order h4 {
  font-weight: 700;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.checkout__order .checkout__order__products {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.checkout__order .checkout__order__products span {
  float: right;
}
.checkout__order ul {
  margin-bottom: 12px;
}
.checkout__order ul li {
  font-size: 16px;
  color: #6f6f6f;
  line-height: 40px;
  list-style: none;
}
.checkout__order ul li span {
  font-weight: 700;
  float: right;
}
.checkout__order .checkout__order__subtotal {
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 700;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  padding-bottom: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
}
.checkout__order .checkout__order__subtotal span {
  float: right;
}
.checkout__order .checkout__order__total {
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
.checkout__order .checkout__order__total span {
  float: right;
  color: #dd2222;
}
.checkout__order .checkout__input__checkbox label {
  padding-left: 20px;
}
.checkout__order button {
  letter-spacing: 2px;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  color: white;
  background: #6667ab;
}

body.register {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-image: url(../img/cover.jpg);
  background-size: cover;
  background-position: left;
}

.form-account-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  width: 350px;
  margin: 40px auto 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  font-size: 12px;
}
#form h1 {
  font-weight: 700;
  color: #6667ab;
  text-align: center;
  padding-bottom: 20px;
}
#form button {
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: #6667ab;
  border: none;
  border-radius: 4px;
}
#form button:hover {
  color: #212529;
}

.agree-text {
  text-align: center;
  padding-top: 10px;
}
.agree-text span {
  text-align: left;
  font-size: 16px;
}
.agree-text input {
  margin-right: 15px;
}

.acc-text {
  margin-top: 20px;
  font-size: 16px;
}
.acc-text a {
  text-decoration: none;
  color: #6667ab;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
  height: 40px;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

/*# sourceMappingURL=style.css.map */
